<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <formm action="/" method=" GET">
      <label> UserName/Email-Id</label> <br /><br />
      <input type="text" name="username" required /> <br /><br />

      <label> Password </label><br />
      <br />
      <input type="password" name="Password" required />
      <br /><br />

      <button>Login</button>
    </formm>
  </body>
</html>
