<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <formm action="/" method=" GET">
      <label> Full Name</label> <br /><br />
      <input type="text" name="username" required /> <br /><br />

      <label> Email </label> <br /><br />
      <input type="email" name="email" required /> <br /><br />

      <label> Phone.No </label> <br /><br />
      <input type="text" name="phone" required /> <br /><br />

      <label> Create Password</label> <br /><br />
      <input type="password" name="password" required /> <br /><br />

      <label> Confirm Password </label> <br /><br />
      <input type="password" name="password" required /> <br /><br />

      <button>Submit</button>
    </formm>
  </body>
</html>
